<header class="navbar">
  <div class="logo">
    <img src="/client/assets/sprites/ui/Logo.png" alt="ARENACLIX Logo">
  </div>

  <nav>
    <a href="../index.html">Home</a>
    <a href="/client/pages/como-jogar.html">Como Jogar</a>
    <a href="/client/pages/loja.html">Loja</a>
    <a href="pages/inventario.html" id="inventoryLink" style="display: none;">
      Inventário
    </a>
    <a href="/pages/contato.html">Contatos</a>
  </nav>

  <div class="login-area">
    <input type="text" placeholder="Usuário">
    <input type="password" placeholder="Senha">

    <button id="loginBtn" class="btn-outline">Entrar</button>
    <button id="registerBtn" class="btn-outline">Cadastrar</button>
  </div>
</header>